<div>
    <h1>Books</h1>
    <a mat-raised-button color="primary" routerLink="/book/CreateBook">Create a Book</a>
</div>

<div>
    <br>
    <mat-table #table [dataSource]="dataSource">
        <mat-header-row *matHeaderRowDef="columnNames"></mat-header-row>
        <mat-row *matRowDef="let row; columns: columnNames;"></mat-row>

        <mat-cell *matCellDef="let book;">
            <i class="material-icons" routerLink="/book/EditBook/{{book.BookId}}">edit</i>
            <i class="material-icons" routerLink="/book/DeleteBook/{{book.BookId}}">delete</i>
        </mat-cell>

        <ng-container matColumnDef="details">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let book;">
                <i class="material-icons" routerLink="/book/BookDetail/{{book.BookId}}">flare</i>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Title">
            <mat-header-cell *matHeaderCellDef>Title</mat-header-cell>
            <mat-cell *matCellDef="let book;">{{book.Title}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="Author">
            <mat-header-cell *matHeaderCellDef>Author</mat-header-cell>
            <mat-cell *matCellDef="let book;">{{book.Author}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="BookGenre">
            <mat-header-cell *matHeaderCellDef>Book Genre</mat-header-cell>
            <mat-cell *matCellDef="let book;">{{book.BookGenre}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="Owned">
            <mat-header-cell *matHeaderCellDef>Owned?</mat-header-cell>
            <mat-cell *matCellDef="let book;">{{book.Owned}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="Reviewed">
            <mat-header-cell *matHeaderCellDef>Reviewed?</mat-header-cell>
            <mat-cell *matCellDef="let book;">{{book.Reviewed}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="buttons">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let book;">
                <i class="material-icons" routerLink="/book/BookEdit/{{book.BookId}}">edit</i>
                <i class="material-icons" routerLink="/book/BookDelete/{{book.BookId}}">delete</i>
            </mat-cell>
        </ng-container>
    </mat-table>
</div>