.RegisterPage {
    align-items: center;
    padding-left: 12px;
}

.forms {
    color: black;
  }

.nav-btn {
    font-family: 'Gelasio', cursive;
}

.mat-form-field {
    font-family: 'Gelasio', cursive;
}