<h1>Delete Book?</h1>
<h3>Do you really want to delete this book?</h3>
<br />

<div *ngIf="book">
    <div>
        <label>Book Title:</label>
        <span>{{book.Title}}</span>
    </div>
    <br/>
    <div>
        <label>Book Author:</label>
        <span>{{book.Author}}</span>
    </div>
    <br/>
    <div>
        <label>Book Genre:</label>
        <span>{{book.Genre}}</span>
    </div>
    <br/>
    <div>
        <label>Owned?</label>
        <span>{{book.Owned}}</span>
    </div>
    <br/>
    <div>
        <label>Reviewed?</label>
        <span>{{book.Reviewed}}</span>
    </div>
    <button mat-raised-button color="warn" (click)="onDelete()">Delete</button>
</div>
<br/>

<button mat-raised-button color="primary" routerLink="/book/AllBooks">Back to Books</button>