<h1>Edit Book</h1>
<br />

<form (ngSubmit)="onSubmit()" [formGroup]="editForm">
    <div>
        <div>
            <mat-form-field>
                <input matInput placeholder="Book Title" formControlName="Title" type="Title" required />
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <input matInput placeholder="Author" formControlName="Author" type="Author" required />
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <mat-label >Book Genre</mat-label>
                <mat-select formControlName="BookGenre">
                    <mat-option value="Nonfiction">Non-Fiction</mat-option>
                    <mat-option value="Fantasy">Fantasy</mat-option>
                    <mat-option value="SciFi">SciFi</mat-option>
                    <mat-option value="Mystery">Mystery</mat-option>
                    <mat-option value="Romance">Romance</mat-option>
                    <mat-option value="Horror">Horror</mat-option>
                    <mat-option value="Historical">Historical</mat-option>
                    <mat-option value="Realism">Realism</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div>
            <mat-checkbox formControlName="Owned">Owned?</mat-checkbox>
        </div>
        <div>
            <mat-checkbox formControlName="Reviewed">Reviewed?</mat-checkbox>
        </div>
    </div>

    <button mat-raised-button class="nav-btn" color="primary" type="submit">Submit Edit</button>
</form>

<button mat-button class="nav-btn" routerLink="/book/AllBooks">Back to Book List</button>